<div class="product-item">
     <div class="product-item-left">
          <img src="{{ product.image }}" alt="{{ product.name }}">
     </div>
     <div class="product-item-right">
          <h3 class="product-item-title">{{ product.name }}</h3>
          <p class="product-item-price-wrapper"> 
               <span class="product-item-price-title">Price: </span>
               <span class="product-item-price">{{ product.price }}</span>
          </p>
          <button (click)="addToCart($event)" class="btn">Add to cart</button>
     </div>
</div>