<div class="cart container">
     <h1 class="mb-5">Cart</h1>
     <div class="row border-bottom font-weight-bold text-center">
          <div class="col-2 p-1">
               Product ID
          </div>
          <div class="col-3 p-2">
               Product name
          </div>
          <div class="col-1 p-2">
               Price
          </div>
          <div class="col-2 p-2">
               Quantity
          </div>
          <div class="col-1 p-2">
               Sum
          </div>
          <div class="col-1 p-2">
          </div>
          <div class="col-1 p-2">
          </div>
          <div class="col-1 p-2">
          </div>
     </div>
     <app-cart-item *ngFor="let item of getAllCartItems()" [item]="item"></app-cart-item>
</div>